.Admin-select {
  width: 250px;
}
.Admin-input {
  width: 650px;
}
.Admin-text {
  width: 90%;
}
.select-form, .input-form, .text-form{
  margin: 30px 20px;
}
.Admin-container {
  border: 1px solid #4CAF50;
  text-align: center;
  padding-bottom: 30px;
  max-width: 80%;
  margin: 0 auto;
}

