.Menu {

}
.Menu-list {
  list-style: none;
  display: flex;
  flex-flow: nowrap row;
}
.Menu-list li {
  margin: 0 15px;
}
.Menu-list li a {
  text-decoration: none;
  color: #EEE;
  font-size: 20px;
}