body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
  border-right: 1px solid #4CAF50;
  border-left: 1px solid #4CAF50;
  border-bottom: 1px solid #4CAF50;
}
